.pytest_cache
*.pyc
env/
*.log
*.sqlite3
.idea/
module/spacy_ner/models/
module/spacy_ner/results/
/module/Allocator/models/
/module/Allocator/results/
/module/RecommendationClassifier/results/
/module/RecommendationClassifier/models/
module/label_classifier/models/
module/label_classifier/results/
module/marker_classifier/models/
module/marker_classifier/results/
module/SentimentClassifier/models/
module/SentimentClassifier/results/
module/SentimentClassifier/dataset/
